.amenities,
.reviews {
    margin-top: 40px;
}

.amenities h2,
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul,
.reviews ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.amenities li,
.reviews li {
    margin-bottom: 10px;
}

.amenities i,
.reviews
