header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
}

.logo-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo-container img {
    vertical-align: middle;
}
